@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media (max-width: 576px) { body {background-color: rgb(206, 217, 255);}
}

@media (max-width: 768px) { body {background-color: rgb(206, 217, 255);}  
}

@media (max-width: 992px) { body {background-color: rgb(206, 217, 255);}
}

@media (min-width: 1200px) { body {background-color: rgb(206, 217, 255);}
}


div.caja_header { background-color: white;
    height: 100%;
    width: 100%;
}

div.logo img { display: inline;
    width: 150px;
}

ul.horizontal {  
    display: inline;
    position: relative;
    top: 2%;

}

ul.horizontal li{
    display:inline-flex;
    float:right;
    padding:0 10px;
    }


h1.titulo {font-family: 'Playfair Display', serif;
    text-align: center;color: blue;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 15px;
}




footer {font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    margin: bottom 15px;
    }