@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media (max-width: 576px) { body {background-color: rgb(206, 217, 255);}
}

@media (max-width: 768px) { body {background-color: rgb(206, 217, 255);}  
}

@media (max-width: 992px) { body {background-color: rgb(206, 217, 255);}
}

@media (min-width: 1200px) { body {background-color: rgb(206, 217, 255);}
}


.titulo h1 {font-family: 'Dancing Script', cursive;


}